<ion-view title="{{'About' | translate}}">
  <ion-content>
  	<ion-list class="about-list">
  		<ion-item><img src="img/logo.png"></ion-item>
  		<ion-item><h1>Comikku</h1></ion-item>
  		<ion-item>Version {{version || '?'}}</ion-item>
  		<ion-item>&copy; 2014-2015 Caldi Gianfranco</ion-item>
      <ion-item ng-if="debugMode">{{langinfo}}</ion-item>
  		<ion-item><a href="#">Info</a></ion-item>
      <ion-item><p class="text-wrap">Icons made by <a href="javascript:void(0)" onclick="navigator.app.loadUrl('http://www.freepik.com', {openExternal : true});" title="Freepik">Freepik</a>, <a href="javascript:void(0)" onclick="navigator.app.loadUrl('http://www.designmodo.com', {openExternal : true});" title="Designmodo">Designmodo</a> from <a href="javascript:void(0)" onclick="navigator.app.loadUrl('http://www.flaticon.com', {openExternal : true});" title="Flaticon">www.flaticon.com</a>         is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p></ion-item>
  	</ion-list>
  </ion-content>
</ion-view>