<ion-view title="About">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  	<ion-list class="about-list">
  		<ion-item><img src="img/logo.png"></ion-item>
  		<ion-item><h1>Comikku</h1></ion-item>
  		<ion-item>Version {{version || '?'}}</ion-item>
  		<ion-item>&copy; 2014 Caldi Gianfranco</ion-item>
  		<ion-item><a href="#">Info</a></ion-item>
  	</ion-list>
  </ion-content>
</ion-view>