<ion-view title="Backup">
	<ion-nav-bar class="bar bar-header bar-energized">
		<button class="button-icon button back-button ion-android-arrow-back" ng-click="goBack()"></button>
  </ion-nav-bar>
  <ion-content class="has-header">
  	<form name="myForm">
	  	<ion-list>
	  		<ion-item class="item" ng-click="backup()"><i class="icon ion-ios7-download-outline"></i> <span translate>Backup data</span></ion-item>
	  		<ion-item class="item" ng-click="restore()"><i class="icon ion-ios7-upload-outline"></i> <span translate>Restore data</span><p><span translate>Last backup:</span> {{lastBackup}}</p></ion-item>
	  	</ion-list>
  	</form>
  </ion-content>
</ion-view>