<div class="number" ng-class="{expired: expired, near: near, wishlist: !release.date}">{{release.number}}</div>
<div class="title"><h4>{{comics.name}}</h4><p>{{release.notes}}</p></div>
<div class="flags">
	<div class="date">{{datestr}}</div>
	<i class="icon" 
	ng-class="{ 'ion-ios7-briefcase purchased': release.purchased == 'T', 'ion-eye ordered': release.purchased != 'T' && release.ordered == 'T', 'ion-ios7-filing-outline': release.purchased != 'T' && release.ordered != 'T' && comics.reserved=='T' }"
	>&nbsp;</i>
</div>