<ion-view title="Debug">
	<ion-nav-bar class="bar bar-header bar-energized">
		<button class="button-icon button back-button ion-android-arrow-back" ng-click="goBack()"></button>
    <div class="buttons pull-right">
      <button class="button button-icon icon ion-android-sort" ng-click="test($event)"></button>
    </div>
  </ion-nav-bar>
  <ion-content class="has-header">
  	<form name="myForm">
	  	<ion-list>
			  <ion-item class="item item-toggle">
					Active debug mode
					<label class="toggle">
						<input type="checkbox" ng-model="userOptions.debugMode" ng-true-value="T" ng-false-value="F" ng-change="optionsChanged()">
						<div class="track">
						<div class="handle"></div>
						</div>
					</label>
				</ion-item>
	  		<ion-item class="item" ng-click="fakeEntries()" ng-show="userOptions.debugMode=='T'"><i class="icon ion-arrow-graph-down-right"></i> Create fake entries</ion-item>
	  		<ion-item class="item" ng-click="test($event)" ng-show="userOptions.debugMode=='T'"><i class="icon ion-arrow-graph-down-right"></i> Test {{testresult}}</ion-item>
	  		<ion-item class="item" ng-click="switchUser()" ng-show="userOptions.debugMode=='T'"><i class="icon ion-arrow-graph-down-right"></i> Switch user <p>Current: {{currentUser}}</p></ion-item>
	  	</ion-list>
  	</form>
  </ion-content>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view class="popover-menu" style="height: 168px">
    <ion-content>
      <ion-list>
      	<ion-radio>Best release</ion-radio>
      	<ion-radio>Name</ion-radio>
      	<ion-radio>Last modified</ion-radio>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</script>