<ion-view title="Debug">
	<ion-nav-bar class="bar bar-header bar-energized">
		<button class="button-icon button back-button ion-android-arrow-back" ng-click="goBack()"></button>
  </ion-nav-bar>
  <ion-content class="has-header">
  	<form name="myForm">
	  	<ion-list>
			  <ion-item class="item item-toggle">
					Active debug mode
					<label class="toggle">
						<input type="checkbox" ng-model="userOptions.debugMode" ng-true-value="T" ng-false-value="F" ng-change="optionsChanged()">
						<div class="track">
						<div class="handle"></div>
						</div>
					</label>
				</ion-item>
	  		<ion-item class="item" ng-click="fakeEntries()" ng-if="userOptions.debugMode=='T'"><i class="icon ion-arrow-graph-down-right"></i> Create fake entries</ion-item>
	  		<ion-item class="item" ng-click="test($event)" ng-if="userOptions.debugMode=='T'"><i class="icon ion-arrow-graph-down-right"></i> Test {{testresult}}</ion-item>
	  		<ion-item class="item" ng-click="switchUser()" ng-if="userOptions.debugMode=='T'"><i class="icon ion-arrow-graph-down-right"></i> Switch user <p>Current: {{currentUser}}</p></ion-item>
	  		<ion-item class="item" ng-click="repairData()" ng-if="userOptions.debugMode=='T'"><i class="icon ion-hammer"></i> Repair data</ion-item>
	  	</ion-list>
  	</form>
  </ion-content>
</ion-view>