<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable title nav-title-slide-ios7">
      <ion-nav-back-button class="button-icon ion-android-arrow-back"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title"><img src="img/logo32.png" width="32">Comikku</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item item-type="item-icon-left" class="item-menu-big" nav-clear menu-close href="#/app/comics">
          <i class="icon ion-chatbubbles"></i> Comics
        </ion-item>
        <ion-item item-type="item-icon-left" class="item-menu-big" nav-clear menu-close href="#/app/releases">
          <i class="icon ion-ios7-calendar-outline"></i> Releases
        </ion-item>
        <ion-item item-type="item-icon-left" class="item-menu-big" nav-clear menu-close href="#/app/wishlist">
          <i class="icon ion-android-lightbulb"></i> Losts &amp; Wish list
        </ion-item>
        <ion-item item-type="item-icon-left" class="item-menu-big" nav-clear menu-close href="#/app/options">
          <i class="icon ion-ios7-settings-strong"></i> Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
