<ion-view>
  <ion-nav-title>{{'Settings' | translate}}</ion-nav-title>
  <ion-content class="has-header">
  	<form name="myForm">
	  	<ion-list>
	  		<ion-item class="item" ng-href="#/app/settings"><i class="icon ion-android-settings"></i> <span translate>General settings</span></ion-item>
        <ion-item class="item" ng-href="#/app/backup"><i class="icon ion-android-archive"></i> <span translate>Backup data</span></ion-item>
	  		<ion-item class="item" ng-href="#/app/about"><i class="icon ion-android-information"></i> <span translate>About Comikku</span></ion-item>
	  		<ion-item class="item" ng-href="#/app/debug"><i class="icon ion-nuclear"></i> Debug</ion-item>
	  	</ion-list>
  	</form>
  </ion-content>
</ion-view>