<ion-view>
  <!-- header default -->
  <header class="bar bar-header bar-energized title" ng-show="currentBar=='title'">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <h1 class="title">{{entry == null ? 'Releases' : entry.name}}</h1>
    <button class="button button-icon icon ion-plus-round" ng-if="entry" ng-click="showAddRelease(entry)"></button>
  </header>
  <!-- barra delle opzioni, visibile solo se la barra di navigazione viene nascosta -->
  <header class="bar bar-header bar-options title" ng-show="currentBar=='options'">
    <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
    <button class="button button-icon icon ion-ios7-arrow-down" ng-click="showHeaderBar()"></button>
    <div class="buttons header-options">
      <button class="button button-icon icon ion-compose" ng-disabled="!canEdit" ng-click="editReleaseEntry()"></button>
      <button class="button button-icon icon ion-android-trash button-badged" ng-click="removeReleaseEntry()" title="{{selectedReleases.length}}"></button>
    </div>
  </header>
  <ion-content class="has-header custom-header" has-bouncing="false">
    <ion-list can-swipe="true">
      <ion-item class="item item-release-group" ng-repeat="(grp, releases) in groups">
        <div>{{grp}}</div>
        <ion-item class="item item-release rmm-button-right release"
          on-hold="selectRelease(release)"
          ng-click="clickRelease(release)"
          ng-class="{selected: isSelected(release)}"
          ng-repeat="release in releases">
          <h2>{{getComicsById(release.comicsId).name}}</h2>
          <span><b>#{{release.number}}</b> {{release.date | date : 'EEE, dd MMM'}} <i class="icon ion-ios7-timer-outline" ng-show="isExpired(release)"></i></span>
          <button class="button ion-bag" ng-show="currentBar=='title' && release.purchased != 'T'" ng-click="setPurchased(release, 'T')"></button>
          <button class="button button-positive ion-bag" ng-show="currentBar=='title' && release.purchased == 'T'" ng-click="setPurchased(release, 'F')"></button>
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
