<ion-view title="{{currentBar == 'options' ? '' : title | translate}}">

  <ion-nav-bar class="bar bar-header bar-positive" ng-class="{'bar-calm': isWishlist, 'bar-dark': isPurchased, 'bar-options': currentBar=='options'}">
    <div class="buttons" ng-show="currentBar=='title'">
      <button class="button-icon button back-button ion-android-arrow-back" ng-if="entry" ng-click="goBack()"></button>
      <button class="button button-icon logo" ng-if="!entry"></button>
    </div>

    <div class="buttons" ng-show="currentBar=='options'">
      <button class="button button-icon icon ion-ios7-arrow-down hide-options" ng-click="showHeaderBar()"></button>
      <div class="info">{{selectedReleases.length}}</div>
    </div>    

    <div class="buttons pull-right" ng-show="currentBar=='title'">
      <button class="button button-icon icon ion-plus-round" ng-if="entry" ng-click="showAddRelease(entry)"></button>
      <button class="button button-icon icon ion-android-more" ng-click="openMenuPopover($event)"></button>
    </div>

    <div class="buttons pull-right" ng-show="currentBar=='options'">
      <button class="button button-icon icon ion-plus" ng-show="canEdit" ng-click="showAddRelease()"></button>
      <button class="button button-icon icon ion-compose" ng-show="canEdit" ng-click="editReleaseEntry()"></button>
      <button class="button button-icon icon ion-ios7-briefcase" ng-click="setPurchased(null, 'T')"></button>
      <button class="button button-icon icon ion-ios7-briefcase-outline" ng-click="setPurchased(null, 'F')"></button>
      <button class="button button-icon icon ion-android-trash" ng-click="removeReleaseEntry()"></button>
    </div>
  </ion-nav-bar>

  <ion-content class="has-header" has-bouncing="false">
    <ion-list can-swipe="true">
      <ion-item class="item item-release" ng-repeat="item in items track by item._kk">
        <!-- se non ha comicsId è l'intestazione del gruppo -->
        <ion-item ng-if="!item.comicsId" class="item group">{{item.label}} <span class="item-note"># {{item.count}}</span></ion-item>
        <!-- se ha comicsId è una release -->
        <ion-item ng-if="item.comicsId"
          class="item rmm-button-right release"
          ng-class="{purchased: item.purchased == 'T', selected: isSelected(item)}"
          on-hold="selectRelease(item)"
          ng-click="clickRelease(item)"
          ng-class="{selected: isSelected(item)}">
          <!-- <div class="number">{{item.number}}</div>
          <div class="title">{{getComicsById(item.comicsId).name}}</div>
          <div class="date">{{item.date | date : 'EEE, dd MMM'}}</div>
          <div class="icons">
            <i class="icon ion-ios7-filing-outline" ng-show="getComicsById(item.comicsId).reserved=='T'"></i>
            <i class="icon ion-ios7-briefcase purchased" ng-show="item.purchased == 'T'"></i>
            <i class="icon ion-ios7-bell expired" ng-show="item.purchased != 'T' && isExpired(item)"></i>
          </div> -->
          <comics-release ng-if="item.comicsId" release="item"></comics-release>
        </ion-item>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>

<script id="menu-popover.html" type="text/ng-template">
  <ion-popover-view class="popover-menu" style="height: 333px">
    <ion-content>
      <ion-list>
        <ion-radio ng-model="releaseView" name="releaseView" ng-value="'releases'" ng-change="closeMenuPopover(groupBy, 'releases')"><span translate>Releases</span></ion-radio>
        <ion-radio ng-model="releaseView" name="releaseView" ng-value="'losts'" ng-change="closeMenuPopover(groupBy, 'losts')"><span translate>Losts</span></ion-radio>
        <ion-radio ng-model="releaseView" name="releaseView" ng-value="'wishlist'" ng-change="closeMenuPopover(groupBy, 'wishlist')"><span translate>Wishlist</span></ion-radio>
        <ion-radio ng-model="releaseView" name="releaseView" ng-value="'purchased'" ng-change="closeMenuPopover(groupBy, 'purchased')"><span translate>Purchased</span></ion-radio>
      </ion-list>
      <ion-list>
        <ion-radio ng-model="groupBy" name="groupBy" ng-value="'week'" ng-change="closeMenuPopover('week', releaseView)"><span translate>Group by week</span></ion-radio>
        <ion-radio ng-model="groupBy" name="groupBy" ng-value="'month'" ng-change="closeMenuPopover('month', releaseView)"><span translate>Group by month</span></ion-radio>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</script>