<ion-view title="{{title | translate}}">

  <!-- pu\santi barra di navigazione -->
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-plus-round" ng-if="entry" on-tap="showAddRelease(entry)"></button>
    <button class="button button-icon icon ion-android-more" on-tap="openMenuPopover($event)"></button>
  </ion-nav-buttons>

  <!-- barra secondaria, visibile quando quella primaria è nascosta -->
  <ion-header-bar class="bar bar-header bar-options" ng-show="currentBar=='options'">
    <button class="button button-icon icon ion-ios7-arrow-down hide-options" on-tap="showNavBar()"></button>
    <div class="info">{{selectedReleases.length}}</div>
    <div class="buttons pull-right">
      <button class="button button-icon icon ion-plus" ng-show="canEdit" on-tap="showAddRelease()"></button>
      <button class="button button-icon icon ion-compose" ng-show="canEdit" on-tap="editReleaseEntry()"></button>
      <button class="button button-icon icon flaticon-purchased" on-tap="togglePurchased(null)"></button>
      <button class="button button-icon icon flaticon-ordered-b" on-tap="toggleOrdered(null)"></button>
      <button class="button button-icon icon ion-android-trash" on-tap="removeReleaseEntry()"></button>
    </div>
  </ion-header-bar>

  <ion-content class="has-header custom-header" has-bouncing="true">
    <ion-list>
      <ion-item class="item item-release" ng-repeat="item in releases track by item._kk" id="{{item._kk}}">
        <!-- se non ha comicsId è l'intestazione del gruppo -->
        <ion-item ng-if="!item.comicsId" class="item group">{{item.label}} <span class="item-note"># {{item.count}}</span></ion-item>
        <!-- se ha comicsId è una release -->
        <comics-release ng-if="item.comicsId"
          class="item rmm-button-right release"
          ng-class="{purchased: item.purchased == 'T', selected: isSelected(item)}"
          on-hold="selectRelease(item)"
          on-tap="clickRelease(item)" release="item">
        </comics-release>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
        ng-if="moreDataCanBeLoaded()"
        icon="ion-loading-c"
        on-infinite="loadMore()"
        distance="1%">
      </ion-infinite-scroll>    
  </ion-content>
</ion-view>

<script id="menu-popover.html" type="text/ng-template">
  <ion-popover-view class="popover-menu" style="width: 250px; height: {{canGroup ? '104px' : '52px'}}">
    <ion-list>
      <ion-item ng-if="canGroup && groupBy !== 'week'" on-tap="closeMenuPopover('group', 'week')"><i class="icon flaticon-group"></i> <span translate>Group by week</span></ion-item>
      <ion-item ng-if="canGroup && groupBy !== 'month'" on-tap="closeMenuPopover('group', 'month')"><i class="icon flaticon-group"></i> <span translate>Group by month</span></ion-item>
      <ion-item on-tap="closeMenuPopover('delete')"><i class="icon ion-android-trash release-trash"></i> <span translate>Delete releases</span></ion-item>
    </ion-list>
  </ion-popover-view>
</script>
