<ion-view title="{{'General settings' | translate}}">
  <ion-content>
  	<form name="myForm">
	  	<ion-list>
				<!-- <ion-item class="item item-toggle">
					Search also in publisher
					<label class="toggle">
						<input type="checkbox" ng-model="userOptions.comicsSearchPublisher" ng-true-value="T" ng-false-value="F" ng-change="optionsChanged()">
						<div class="track">
						<div class="handle"></div>
						</div>
					</label>
				</ion-item> -->
				<!-- <ion-item class="item item-toggle">
					<span translate>Auto fill release data</span>
					<label class="toggle">
						<input type="checkbox" ng-model="userOptions.autoFillReleaseData" ng-true-value="T" ng-false-value="F" ng-change="optionsChanged()">
						<div class="track">
						<div class="handle"></div>
						</div>
					</label>
				</ion-item> -->
				<ion-item class="item" ng-click="chooseAutoFill()">
					<span translate>Auto fill release data</span>
					<p class="option-value" ng-show="userOptions.autoFillReleaseData == 'T'" translate>Enabled</p>
					<p class="option-value" ng-show="userOptions.autoFillReleaseData != 'T'" translate>Disabled</p>
				</ion-item>
				<ion-item class="item" ng-click="chooseWeekStart()">
					<span translate>Week start on</span>
					<p class="option-value" ng-show="userOptions.weekStartMonday == 'T'" translate>Monday</p>
					<p class="option-value" ng-show="userOptions.weekStartMonday != 'T'" translate>Sunday</p>
				</ion-item>
				<ion-item class="item" ng-click="chooseDefaultUrl()">
					<span translate>On start show</span>
					<p class="option-value" ng-show="userOptions.defaultUrl == '/app/comics'" translate>Comics</p>
					<p class="option-value" ng-show="userOptions.defaultUrl == '/app/releases'" translate>Releases</p>
					<p class="option-value" ng-show="userOptions.defaultUrl == '/app/wishlist'" translate>Losts &amp; Wishlist</p>
					<p class="option-value" ng-show="userOptions.defaultUrl == '/app/purchased'" translate>Purchased</p>
				</ion-item>
				<!-- <ion-item class="item-input">
					<span class="input-label">Reminder time</span>
					<input type="time">
				</ion-item> -->
				<ion-item class="item item-divider"><span translate>Data</span></ion-item>
	  		<ion-item class="item" ng-click="deleteAllData()"><i class="icon ion-trash-a"></i> <span translate>Delete all data</span></ion-item>
	  		<ion-item class="item" ng-click="resetOptions()"><i class="icon ion-ios7-loop-strong"></i> <span translate>Reset settings</span></ion-item>
	  	</ion-list>
  	</form>
  </ion-content>
</ion-view>

<script id="autoFillReleaseData.html" type="text/ng-template">
	<ion-list>
		<ion-radio ng-model="userOptions.autoFillReleaseData" ng-value="'F'" ng-change="autoFillPopup.close('F')"><span translate>Disabled</span></ion-radio>
		<ion-radio ng-model="userOptions.autoFillReleaseData" ng-value="'T'" ng-change="autoFillPopup.close('T')"><span translate>Enabled</span></ion-radio>
	</ion-list>
</script>

<script id="weekStartMonday.html" type="text/ng-template">
	<ion-list>
		<ion-radio ng-model="userOptions.weekStartMonday" ng-value="'F'" ng-change="weekStartPopup.close('F')"><span translate>Sunday</span></ion-radio>
		<ion-radio ng-model="userOptions.weekStartMonday" ng-value="'T'" ng-change="weekStartPopup.close('T')"><span translate>Monday</span></ion-radio>
	</ion-list>
</script>

<script id="defaultUrl.html" type="text/ng-template">
	<ion-list>
		<ion-radio ng-model="userOptions.defaultUrl" ng-value="'/app/comics'" ng-change="defaultUrlPopup.close('/app/comics')"><span translate>Comics</span></ion-radio>
		<ion-radio ng-model="userOptions.defaultUrl" ng-value="'/app/releases'" ng-change="defaultUrlPopup.close('/app/releases')"><span translate>Releases</span></ion-radio>
		<ion-radio ng-model="userOptions.defaultUrl" ng-value="'/app/wishlist'" ng-change="defaultUrlPopup.close('/app/wishlist')"><span translate>Losts &amp; Wishlist</span></ion-radio>
		<ion-radio ng-model="userOptions.defaultUrl" ng-value="'/app/purchased'" ng-change="defaultUrlPopup.close('/app/purchased')"><span translate>Purchased</span></ion-radio>
	</ion-list>
</script>